    <nav>
        <ul>
            <li>
                <a href="/nasa">NASA</a>
            </li>
            <li>
                <a href="/deck">Deck</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>