<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/deck.css">
</head>
<body id="body">
    {{> nav}}
    <section>
        <form method="POST" action="/deck">
            <input name="number" type="number"  placeholder="Type here" required>
            <input type="submit">
        </form>
    </section>
    
</body>
<script>
    var imgs = "{{images}}".split(',');
    var container = document.getElementById('body');

for (var i = 0, j = imgs.length; i < j; i++) {
    var img = document.createElement('img');
    img.src = imgs[i]; // img[i] refers to the current URL.
    container.appendChild(img);
}
</script>
</html>