<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/nasa.css">
</head>
<body id="body">
    {{> nav}}
    
    <form method="POST" action="/nasa">
        <input type="text" name="query" placeholder="Type here" required>
        <input type="submit">
    </form>


</body>
<script>
    var imgs = "{{images}}".split(',');
    if (imgs.length != 0) {
    var container = document.getElementById('body');
    for (var i = 1, j = imgs.length; i < j; i++) {
        var img = document.createElement('img');
        img.src = imgs[i]; // img[i] refers to the current URL.
        container.appendChild(img);
    }
    }

</script>
</html>