<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/pictures.css">
</head>
<body>
    {{> nav}}
    S
    <form method="POST" action="/pictures">
        <input type="text" name="query" placeholder="Type here" required>
        <input type="submit">
    </form>
    <img src={{returned_image}} alt="Your image!">
</body>
</html>