<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/weather.css">
</head>
<body>
    {{> nav}}
    <section>
        <form method="POST" action="/weather">
            <input name="place" type="text" required>
            <input type="submit">
        </form>
    </section> 
</body>
</html>